language: php
php:
- '5.6'
- '7.0'
- '7.1'
- hhvm
before_script:
- composer install --no-interaction --prefer-source --dev
matrix:
  allow_failures:
  - php: hhvm
  fast_finish: true
script:
- ./vendor/bin/phpunit --coverage-clover=clover.xml
after_script:
- bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    secure: k14lige+9oUI21ocz4LUZ5qdJCtUfBOjMpL1RVmSFOSc6Wg/XftFLksv6+J2unv6gU8ezch8eiPlKTpQM2fYu3WEMe4HrTh+HUjHU8zE8IcUVU+BZGUBvSJXlaCdZlm4z2W1lOrgAsP5YMSFlefIFX1QQWc6jv7YrD42TCuf8MZ9H4T7NQQh057HaBHQihVOoA07v+BK8HXAxLmREz2LkyZTcnoacq/1dwdTg5LbrjazmjjKYiEQDoCrxpJZGWC/X8bWM5r1gKI4XgsE0a12FKws36p0qWfk+R0cl9nxiIej+UjM1phcV0MNzmlOQS6AnibN53I1lKoit7CAHr5RG58eGHXwFTzSOvdRPL5vh+Gldo8VmRayd8EZCmxBDPBvUJuai2T31yvtG8b4vAqUCdkWadyBfk6yUDSFMOFkmW4AkqDS2cy07dclW0wLcHwgz17G96ZPwy/B1YpAFgDYt9qQLFiEj1JgvleEZWIIILh+v4zMoU/2Tjx9HGG0HeujfBROv5IYWecROShnQAPWr5TZ9kF3BM72LHP9dkB3wHkyONWHNNAE/7V7Iuy9LS0KX6pOSZtSaDnUJjQ8xqLX7oG6TsBZUvyYV8fZvASLRK676Iu6g9TXx33vJ7Wa13RFz6xDLqgYUfYyDED5fVvDXVwbBgHYWGgaAaVQNSs/3oQ=
