language: php

php:
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm
  - nightly

before_script:
  - composer install --no-interaction --prefer-source --dev

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

script: 
  - ./vendor/bin/phpunit --coverage-clover=clover.xml

after_script:
  - bash <(curl -s https://codecov.io/bash)