<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/Bootstrap.php" colors="true">
  <testsuites>
    <testsuite>
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory>Source</directory>
      <exclude>
        <directory suffix="Interface.php">Source/</directory>
        <file>Source/WatsonSDK.php</file>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="clover.xml"/>
  </logging>
</phpunit>