CONVERSATION_USERNAME=your_username
CONVERSATION_PASSWORD=your_password
CONVERSATION_WORKSPACE_ID=your_workspace_id
TONE_ANALYZER_USERNAME=your_username
TONE_ANALYZER_PASSWORD=your_password
NATURAL_LANGUAGE_UNDERSTANDING_USERNAME=your_username
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD=your_password
NATURAL_LANGUAGE_CLASSIFIER_USERNAME=your_username
NATURAL_LANGUAGE_CLASSIFIER_PASSWORD=your_password
NATURAL_LANGUAGE_CLASSIFIER_CLASSIFIER=your_trained_classfier_id
PERSONALITY_INSIGHTS_USERNAME=your_username
PERSONALITY_INSIGHTS_PASSWORD=your_password