TONE_ANALYZER_USERNAME=your_username
TONE_ANALYZER_PASSWORD=your_password
NATURAL_LANGUAGE_UNDERSTANDING_USERNAME=your_username
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD=your_password
NATURAL_LANGUAGE_CLASSIFIER_USERNAME=your_username
NATURAL_LANGUAGE_CLASSIFIER_PASSWORD=your_password
PERSONALITY_INSIGHTS_USERNAME=your_username
PERSONALITY_INSIGHTS_PASSWORD=your_password